.container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.squareDivs {
    border: solid 1px black;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}

