.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.squareDivs {
    border: dotted 1px black;
    box-sizing: border-box;
}